extends layout

block content
  h1= title
  p Welcome to #{title}, a new way of looking at your day.
  #content
    h2 Events
    ul#events
  a(href='#', id='authorize-button', onClick='handleAuthClick();') Login
  script(src="/javascripts/pical.js")
  script(src="https://apis.google.com/js/client.js?onload=handleClientLoad")
