extends layout

block content
  h1= title
  p Welcome to #{title}, a new way of looking at your day.
  a(href='#' id='authorize-button' onclick='handleAuthClick();') Login
  script(src='/Users/JHKennedy4/Sites/pie-cal/public/javascripts/pical.js')
  script(src="https://apis.google.com/js/client.js?onload=handleClientLoad")
